/* === Spacing variables === */
$size-tiny-1x: 0.2em;
$size-tiny-2x: 0.4em;
$size-tiny-3x: 0.6em;
$size-small-1x: 0.8em;
$size-small-2x: 1em;
$size-small-3x: 1.2em;
$size-medium-1x: 1.5em;
$size-medium-2x: 1.8em;
$size-medium-3x: 2em;
$size-large-1x: 2.3em;
$size-large-2x: 2.5em;
$size-large-3x: 3em;

/* === Base colors variables === */
$base-color: #F6F6F6;
$label-color: #999999;
$error-color: red;
$disabled-color: #E0E0E0;

/* === Dark colors variables === */
$dark-base-color: #1a1a1a;
$dark-label-color: #CCCCCC;
$dark-error-color: #FF6666;
$dark-disabled-color: #666666;