/* === Spacing variables === */
$size-tiny-1x: 0.2em;
$size-tiny-2x: 0.4em;
$size-tiny-3x: 0.6em;
$size-small-1x: 0.8em;
$size-small-2x: 1em;
$size-small-3x: 1.2em;
$size-medium-1x: 1.5em;
$size-medium-2x: 1.8em;
$size-medium-3x: 2em;
$size-large-1x: 2.3em;
$size-large-2x: 2.5em;
$size-large-3x: 3em;

/* === Base colors variables === */
$base-color: #F6F6F6;
$label-color: #999999;
$error-color: red;
$disabled-color: #E0E0E0;

/* === Dark colors variables === */
$dark-base-color: #1a1a1a;
$dark-label-color: #CCCCCC;
$dark-error-color: #FF6666;
$dark-disabled-color: #666666;

/* === Variant colors === */
// Primary
$primary: #1EA7FD;
$border-primary: #1EA7FDl;
$primary-hover: #0056b3;
$border-primary-hover: #0056b3;

// Success
$success: #28a745;
$border-success: #28a745;
$success-hover: #1e7e34;
$border-success-hover: #1e7e34;

// Danger
$danger: #dc3545;
$border-danger: #dc3545;
$danger-hover: #c82333;
$border-danger-hover: #c82333;

// Dark
$dark: black;
$border-dark: black;
$dark-color: white;
$dark-hover: #424242;
$border-dark-hover: #2f2f2f;

// Outline Primary
$outline-primary: #transparent;
$outline-primary-color: #007bff;
$border-outline-primary: #007bff;
$outline-primary-hover: #007bff;
$outline-primary-color-hover: #fff;

// Outline Success
$outline-success: #transparent;
$outline-success-color: #28a745;
$border-outline-success: #28a745;
$outline-success-hover: #28a745;
$outline-success-color-hover: #fff;

// Outline Danger
$outline-danger: #transparent;
$border-outline-danger: #dc3545;
$outline-danger-color: #dc3545;
$outline-danger-hover: #dc3545;
$outline-danger-color-hover: #fff;

// Outline Dark
$outline-dark: #transparent;
$border-outline-dark: black;
$outline-dark-color: black;
$outline-dark-hover: #969696;
$outline-dark-color-hover: #fff;